body {
    font-family: Arial, sans-serif;
}
.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #e0e0e0;
  z-index: 1001;
}
.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: #337ab7;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
  top: auto;
  bottom: 0;
  animation-delay: -1s;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes preloader-bounce {

  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}
nav {
    background: #344051;
    width: 100%;
    height: 60px;
    position: fixed;
}
.logo {
    color: #ffffff;
    line-height: 60px;
    font-size: 27px;
    padding-left: 388px;
    float: left;
    -webkit-animation: name 3s ease;
    -o-animation: name 3s ease;
    animation: name 1.8s ease;
    cursor: pointer;
}
@keyframes name {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.menu {
    padding-left: 433px;
    float: left;
}
.menu li {
    float: left;
    line-height: 60px;
    font-size: 17px;
    color: #fff;
    margin-right: 40px;
    text-transform: uppercase;
    -webkit-animation: navigation 0.5s ease forwards;
    -o-animation: navigation 0.5s ease forwards;
    animation: navigation 0.5s ease forwards;
    opacity: 0;

}
.menu li a:visited {
    color: #fff;
}
.menu li a {
    transition: all 0.2s;
    color: #fff;
    transform: scale(1);
    display: inline-block;
}
.menu li a:hover {
    color: #eb8f17;

}
.menu li a:active {
    transform: scale(1.2);
}
.menu li:nth-child(2) {
    animation-delay: 0.2s;
}
.menu li:nth-child(3) {
    animation-delay: 0.4s;    
}
.menu li:nth-child(4) {
    animation-delay: 0.6s;    
}
.menu li:nth-child(5) {
    animation-delay: 0.8s;    
}
.menu li:nth-child(6) {
    animation-delay: 1.0s;    
}
@keyframes navigation {
    from {
        opacity: 0;
        margin-left: -800px;
    }
    to {
        opacity: 1;
        margin-left: 0px;
    }
}
.main {
    width: 100%;
    height: 1017px;
    background: url(../img/boy.png) 90% 100%/auto 90% no-repeat, url(../img/mainback.jpg) center/cover no-repeat;
    height: calc(100%);
}
.title_conteiner {
    float: left;
    margin: 431px 0px 0px 404px;
    text-align: center;
    color: #2c384a;
    -webkit-animation: discription 2s ease;
    -o-animation: discription 2s ease;
    animation: discription 2s ease;
}
.title_conteiner h1 {
    font-size: 60px;
    font-weight: 700;
}
.title_conteiner h4 {
    font-size: 20px;
    color: #79818d;
    margin-top: 40px;
}
.title_conteiner input {
    height: 38px;
    text-align: center;
    border: 3px solid #6d7682;
    border-radius: 5px;
    background: none;
    color: #6d7682;
    font-size: 15px;
    padding: 0px 15px;
    margin: 55px 13px 0px 13px;
    font-weight: 600;
}
.title_conteiner input {
    transition: all 0.2s;
}
.title_conteiner input:hover {
    transition: all 0.5s;
    background: #eb8f17;
    color: #fff;
    transform: scale(1.1);
    cursor: pointer;
}
.title_conteiner input:active {
    transform: scale(1.3);
}
@keyframes discription {
    from {
        opacity: 0;
        margin-left: -500px;
    }
    to {
        opacity: 1;
        margin-left: 404px;
    }
}

.description_conteiner {
    width: 100%;
    background-color: #fff;
    height: 716px;
}
.about_me h2 {
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 108px;
    color: #323e4f;
    -webkit-animation: about__me 1s ease;
    -o-animation: about__me 1s ease;
    animation: about__me 1s ease;
}

@keyframes about__me {
    from {
        opacity: 0;
        margin-top: -500px;
    }
    to {
        opacity: 1;
        margin-top: 108px;
    }
}
.about_me hr {
    height: 4px;
    border: none;
    background: #d17700;
    width: 70px;
    margin: 0 auto;
    margin-top: 30px;
}
.about_me img {
    display: block;
    margin: 0 auto;
    margin-top: 60px;
    -webkit-animation: img 2s ease;
    -o-animation: img 2s ease;
    animation: img 2s ease;
}
@keyframes img {
    from {
        opacity: 0;
        margin-top: -500px;
    }
    to {
       opacity: 1; 
    margin-top: 60px;
    }
}
.about_me p {
    margin: 0 auto;
    color: #626976;
    padding: 30px 0px 20px 0px;
    width: 750px;
    line-height: 18px;
    -webkit-animation: title 3s ease;
    -o-animation: title 3s ease;
    animation: title 3s ease;
}
@keyframes title {
    from {
        opacity: 0;
        margin-top: -500px;
    }
    to {
       opacity: 1; 
        margin-top: 0px;
    }    
}
.about_me input {
    display: block;
    margin: 0 auto;
    height: 35px;
    text-align: center;
    border: 3px solid #6d7682;
    border-radius: 5px;
    background: none;
    color: #6d7682;
    font-size: 15px;
    padding: 0px 25px;
    font-weight: 600;
    margin-top: 35px;
    -webkit-animation: input 4s ease;
    -o-animation: input 4s ease;
    animation: input 4s ease;
}
.about_me input:hover{
    transition: all 0.5s;
    background: #eb8f17;
    color: #fff;
    transform: scale(1.1);
    cursor: pointer;    
}
.about_me input:active{
    transform: scale(1.3);    
}
@keyframes input {
    from {
        opacity: 0;
        margin-top: -500px;
    }
    to {
       opacity: 1; 
        margin-top: 35px;
    }    
}
.skills_conteiner {
    width: 100%;
    background: url(../img/skils.jpg) center/cover fixed no-repeat;
    height: 521px;
}
.what_i_can_do h2{
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 108px;
    color: #323e4f;
   -webkit-animation: title_what_i_can_do 1s ease;
    -o-animation: title_what_i_can_do 1s ease;
    animation: title_what_i_can_do 1s ease; 
}
 
}
@keyframes title_what_i_can_do {
    from {
        opacity: 0;
        margin-top: -200px;
    }
    to {
        opacity: 1;
        margin-top: 108px;
    }    
}
.what_i_can_do hr {
    height: 4px;
    border: none;
    background: #d17700;
    width: 70px;
    margin: 0 auto;
    margin-top: 30px;
}
.what_i_can_do {
    width: 1100px;
    margin: 0 auto;
}
.skills {
    text-align: center;
    float: left;
    width: 233px;
    margin-top: 102px;
    margin-left: 40px;
    -webkit-animation: skills 1.7s ease;
    -o-animation: skills 1.7s ease;
    animation: skills 1.7s ease;
}
.newClass {
    margin-left: 40px;
}
.skills h3 {
    color: #cf7600;
    font-size: 18px;
    font-weight: 700;
    padding-top: 32px;
}
.skills img {
    height: 47px;
}
@keyframes skills {
    from {
        opacity: 0;
        margin-left: -100px;
    }
    to {
        opacity: 1;
        margin-left: 40px;
    }
}
.skills p {
    color: #616876;
    padding-top: 17px;
}
.cases_conteiner {
    width: 100%;
    height: 950px;
}
.cases h2 {
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 108px;
    color: #323e4f;
}
.cases hr {
    height: 4px;
    border: none;
    background: #d17700;
    width: 70px;
    margin: 0 auto;
    margin-top: 30px;    
}
.cases p {
    text-align: center;
    color: #3f495a;
    margin: 36px 0px 42px 0px;
}
.cases img {
    display: block;
    margin: 0 auto;
    width: 1170px;
}
.project_description {
    width: 1138px;
    margin: 0 auto;
    margin-top: 35px;
}
.block_client {
    width: 149px;
    float: left;
    margin-right: 120px;

}
.block_discription {
    width: 1050px;
}
.block_client h3 {
    color: #384354;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    padding-bottom: 8px;
}
.block_client p {
    color: #3f495a;
    padding-bottom: 15px;    
}
.block_discription h3 {
    font-weight: 700;
    font-size: 18px;
    color: #384354;
}
.block_discription p {
    color: #3f495a;
    font-size: 15px;
    line-height: 23px;
    padding-top: 5px;
}
.block_discription {
    margin-bottom: 30px;
}
.button input {
    border: 2px solid #63b5ae;
    width: 200px;
    height: 44px;
    background-color: #63b5ae;
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
    font-size: 17px;
}
.button input:hover {
    transition: all 0.5s;
    background: #63b5ae;
    color: #fff;
    transform: scale(1.1);
    cursor: pointer;   
}
.button input:active {
    transform: scale(1.3);    
}
.select {
    display: block;
    width: 890px;
    height: 54px;
    background: #eeeeee;
    color: #737373;
    padding-left: 24px;
}
.costs_conteiner {
    width: 895px;
    margin: 0 auto;
    margin-top: 150px;
}
.cost_calculation h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 50px;
    color: #323e4f;

}
.cost_calculation h3 {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    color: #1c2534;
    padding: 22px 0px 22px 0px;
}
.cost_calculation hr {
    height: 4px;
    border: none;
    background: #d1d1d1;
    width: 890px;
    margin-top: 38px;
    margin-bottom: 23px;
}
.cost_calculation p {
    font-weight: 700;
    color: #1c2534;
    font-size: 16px;
    padding-bottom: 18px;
}
.statistics_conteiner {
    width: 100%;
    background: url(../img/stat.jpg) center/cover fixed no-repeat;
    height: 492px;
    margin-top: 150px;
}
.statistics h2 {
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 108px;
    color: #323e4f;
}   

.statistics hr {
    height: 4px;
    border: none;
    background: #d17700;
    width: 70px;
    margin: 0 auto;
    margin-top: 30px;
}
.statistics {
    width: 1055px;
    margin: 0 auto;
}
.quantity {
    text-align: center;
    float: left;
    width: 233px;
    margin-top: 85px;
    margin-left: 20px;
    -webkit-animation: quantity 1.7s ease;
    -o-animation: ;
    animation: ;
}
.quantity h3 {
    font-size: 24px;
    font-weight: 900;
    padding-top: 32px;
    color: #323e4f;
}
.quantity img {
    height: 54px;
}
.quantity p {
    text-transform: uppercase;
    color: #323e4f;
    font-weight: 700;
    padding-top: 25px;
}
@keyframes quantity {
     from {
        opacity: 0;
        margin-left: -100px;
    }
    to {
        opacity: 1;
        margin-left: 20px;
    }   
}
.customer_reviews {
    width: 100%;
    height: 590px;
}
.reviews h2 {
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 108px;
    color: #323e4f;
}
.reviews hr {
    height: 4px;
    border: none;
    background: #d17700;
    width: 70px;
    margin: 0 auto;
    margin-top: 30px;    
}
.reviews img {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    -webkit-animation: reviews_img 1.7s ease;
    -o-animation: reviews_img 1.7s ease;
    animation: reviews_img 1.7s ease;
}
@keyframes reviews_img {
    from {
        opacity: 0;
        margin-top: -200px;
    }
    to {
        opacity: 1; 
        margin-top: 50px;
    }
}
.reviews p {
    font-size: 18px;
    text-align: center;
    margin-top: 35px;
    color: #243042;
}

.input {
    margin-left: 952px;
}
.reviews input {
    display: block;
    width: 14px;
    float: left;
    margin-right: 14px;
    margin-top: 48px;
}
.contacts {
    width: 100%;
    height: 805px;
    background: url(../img/fotocontakt.jpg) center/cover no-repeat;
}
.my_contacts h2 {
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 108px;
    color: #fff;    
}
.my_contacts hr {
    height: 4px;
    border: none;
    background: #d17700;
    width: 70px;
    margin: 0 auto;
    margin-top: 30px;    
}
.title {
    text-align: center;
    color: #fff;
    margin-top: 32px;
}

.sign p {
    color: #fff;
    padding-top: 20px;
}
.sign {
    float: left;
    text-align: center;
    margin-right: 65px;
}
.sign:hover {
    transform: scale(1.2);
    cursor: pointer;
}
.clear {
    clear: left;
}
.sign img {
    height: 30px;
    margin-top: 50px;
}
.my_contacts h3 {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    margin-top: 30px;
}
.my_contacts input {
    display: block;
    width: 370px;
    height: 35px;
    background: #d2d5dc;
    color: #737373;
    padding-left: 24px;
    float: left;
    margin-right: 30px;
    margin-top: 45px;
}
.input_sumbit input:hover {
    transition: all 0.5s;
    background: #eb8f17;
    color: #fff;
    transform: scale(1.1);
    cursor: pointer;    
}
.input_sumbit input:active {
     transform: scale(1.3);   
}
.new_input input:hover{
    transform: scale(1.1);
}
.claer {
    clear: left;
}
.new_sign {
    width: 800px;
    margin: 0 auto;
}
.new_input {
    width: 800px;
    margin: 0 auto;
}
.new_sign_class {
    margin-left: 119px;
}
.textarea textarea{
    display: block;
    width: 770px;
    background: #d2d5dc;
    margin-top: 15px;
    height: 95px;
    padding: 10px 0px 0px 20px;
}
.textarea textarea:hover {
    transform: scale(1.1);
}
.input_sumbit input {
    border: 3px solid #fff;
    background: none;
    border-radius: 5px;
    width: 135px;
    padding-right: 20px;
    color: #fff;
    height: 45px;
    font-size: 14px;
    font-weight: 700;
}
.input_sumbit {
    width: 140px;
    margin: 0 auto;
}
.maps img {
    width: 100%;
    height: 350px;
}
footer {
    width: 100%;
    height: 94px;
    background: #354051;   
}
footer p {
    color: #fff;
    text-align: center;
    padding-top: 40px;
}